*{
  background-color:rgb(40, 40, 40)
}


#content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 2px solid #006100;
  }
#layer1{
  background-color: transparent;
  border: 2px solid #006100;
  position: absolute;
  z-index: 1;
  opacity: 1
  
}
#layer2{
  border: 2px solid #006100;
  position: absolute;
  z-index: 0;
}
img{
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.btn{
  background-color: aqua;
	padding: 16px;
	border-radius: 16px;
  border: none;
}
.btn:hover{
  background-color: rgba(255, 34, 0, 0.771);
}
.btn:active{
  background-color: blue;
}